/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, em, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* TAG selectors */
body {
    font: 19px/1.36 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #222;
    
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    
    -webkit-tap-highlight-color: transparent;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    font-weight: 400;
    color: #777;
}

h2 {
    font-size: 1.8em;
}

table {
    background: rgba(255, 255, 255, 0.4);
    margin: 7px auto;
    box-shadow: 0 0 3px #ccc;
}

th {
    font-weight: 400;
    padding: 0 5px;
}

td {
    padding: 3px 5px;
    text-align: right;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input[type=text] {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    border: none;
    outline: none;
    -webkit-appearance: none;
    padding: 0;
    transition: box-shadow 0.1s ease-in-out;  
}

input[type=text]:focus {
    box-shadow: 0 0 3px 1px rgba(0, 126, 255, 0.7), inset 0 0 3px rgba(0, 126, 255, 0.7);
}

input[type=radio] {
    display: none;
}

input[type=radio] + label span {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    top: 1px;
    background-image: url(img/sprites.svg);
    background-position: -400% 0;
    background-size: cover;
    margin: .03em .2em 0;
}

input[type=radio]:checked + label span {
    background-position: -500% 0;
}

.btn {
    display: inline-block;
    text-align: center;
    border-radius: 6px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.2);
    padding: 7px 20px;
    transition: background .1s ease;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.btn:active {
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
}

/* MODIFIERS */
.bold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}

.semi-trans {
    opacity: 0.6;
}

.text-shadow {
    text-shadow: 0 1px rgba(255, 255, 255, 0.4);
}

.no-scroll {
    overflow: hidden;
}

.ios * {
    cursor: pointer;
}

.link {
    color: rgba(100, 176, 255, 0.8);
}

/* LAYOUT */
.col1 {
    width: 100%;
}

.col2 {
    width: 48%;
}

.col3 {
    width: 32.69%;
}

.col4 {
    width: 24.2%;
}

.col5 {
    width: 19.2%;
}

.col11 {
    width: 8.17%;
    min-width: 10px;
}

/* COMPONENTS */
.sprite {
    display: inline-block;
    background-image: url(img/sprites.svg);
    background-size: cover;    
}

.bg-img {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(img/bg-1024.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.drop-down-btn {
    display: inline-block;
    border-radius: 5px 5px 0 0;
    padding: 0 5px;
    font-size: 1.2em;
    transition: background .1s ease;
}

.drop-down-btn.selected,
.drop-down-btn.selected:hover {
    background-color: rgba(255, 255, 255, 0.95);
}

.drop-down-btn:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
}

.drop-down-btn-img {
    position: relative;
    top: 3px;
    width: 22px;
    height: 22px;
    margin-right: 3px;
}

.dropdown {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 5px 0 5px 5px;
    min-width: 80px;
    z-index: 10;
    opacity: 0;
    transition: opacity .1s ease;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.dropdown-row {
    padding-left: 3px;
}

.dropdown-item,
.dropdown-input {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.2em;
    padding: 0;
}

.dropdown-item,
.dropdown-row,
.dropdown-input {
    border-radius: 5px;
}

.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.dropdown-item:active {
    background-color: rgba(0, 0, 0, 0.2);
}

.dropdown-item.selected,
.dropdown-item.selected:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255, 0.9);
}

.dropdown-row.selected {
    background-color: rgba(0, 0, 0, 0.5);
}

.dropdown-item-title {
    padding-left: 7px;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.3);
}

input[type=text].dropdown-input {
    margin: 7px 0;
    font-size: 1em;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

input[type=text].dropdown-input:focus {
    border: none;
}

.header {
    padding-top: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.logo {
    position: relative;
    top: -6px;
    width: 43px;
    height: 43px;
    margin-left: 15px;
}

.overlay {
    background: rgba(255, 255, 255, 0.6);
}

.content-wrapper {
    position: absolute;
    width: 100%;
    max-width: 800px;
    left: 0;
    right: 0;
    margin: 1em auto 0;
}

.content {
    margin: 0 1em 3.7em;
    border-radius: 8px;
    padding: 10px;
}

.content-inner {
    position: relative;
    max-width: 575px;
    margin: auto;
}

.units-container {
    margin-top: 1em;
}

.build {
    position: relative;
    width: 100%;
    margin: 1em auto;
}

.name {
    font-size: 1.8em;
    background: transparent;
    outline: none;
    padding: 0;
    width: 8.5em;
    text-overflow: ellipsis;
}

.config {
    position: absolute;
    right: 7px;
    top: 9px;
}

.action-btn {
    margin: 30px 0 12px;
    width: 35%;
}

.btn-delete-build {
    position: absolute;
    right: 0;
}

.info-img {
    position: relative;
    top: 3px;
    width: 22px;
    height: 22px;
    margin-right: 3px;
    margin-left: 5px;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.8em;
    padding: .5em 2em;
}

.copyright {
    display: inline-block;
}

.img-credits {
    float: right;
    display: inline-block;
    text-align: right;
}

.modal-overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.delete-dlg {
    display: none;
    position: fixed;;
    left: 0;
    right: 0;
    width: 22em;
    height: 50%;
    max-height: 400px;
    margin: 0 auto;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}

.delete-dlg-contents {
    font-size: 1.2em;
}

.delete-dlg-list {
    position: absolute;
    overflow: auto;
    bottom: 4.2em;
    top: 2.5em;
    left: 1em;
    right: 1em;
}

.delete-dlg-list-item {
    padding: 0.5em;
    margin: 2px;
}

.delete-dlg-list-item.selected {
    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
}

.delete-item-desc {
    font-size: 0.8em;
    color: #999;
}

.delete-dlg-btns {
    position: absolute;
    left: 1em;
    right: 1em;
    bottom: 1em;
}

.delete-dlg-delete-btn {
    background-color: rgba(0, 100, 255, 0.7);
    color: white;
    float: right;
}

.delete-dlg-delete-btn:hover {
    background-color: rgba(0, 100, 255, 0.99);
    color: white;
}

.delete-dlg-delete-btn.disabled {
    opacity: 0.3;
    pointer-events: none;
}

@media (max-width: 650px) {
    body {
        font-size: 17px;
    }
    
    .config {
        top: 7px;
    }
}

@media (max-width: 575px) {
    body {
        font-size: 15px;
    }
    
    .title {
        width: 260px;
    }
    
    .logo {
        width: 33px;
        height: 33px;
    }
    
    .config {
        top: 5px;
    }
    
    input[type=radio] + label span {
        position: relative;
        top: 2px;
    }
}

@media (max-width: 500px) {
    .config {
        position: static;
    }
    
    .name {
        padding: 0 5px;
    }
}

@media (max-width: 425px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 410px) {
    body {
        font-size: 13.7px;
    }
    
    .content {
        margin: 0 .5em 3.5em;
    }
    
    .footer {
        padding: .5em .5em;
    }
}

@media (max-width: 386px) {
    body {
        font-size: 13px;
    }
    
    .content {
        margin: 0 0 3.5em;
    }
}

@media (max-width: 367px) {
    table {
        font-size: 0.9em;
    }
}

@media (max-width: 345px) {
    table {
        font-size: 0.8em;
    }
}
